git+https://github.com/subinps/pyrogram@inline-m
tgcrypto
pymongo[srv]==3.12.3
motor==2.5.1
marshmallow==3.14.1
umongo==3.0.1
requests
bs4
imdbpy
youtube-search-python==1.4.6
heroku3
datetime
pynewtonmath
wget
yt_dlp
pyromod
python-dotenv
dnspython
Pillow
hachoir
mutagen
psutil
aiofiles
aiohttp==3.7.4
youtube-dl
youtube_search
asyncio
